exportPattern("^[^\\.]")


S3method(Ops, spin)
S3method(print, spin)
S3method(length, spin)
S3method("[", spin)
S3method("[<-", spin)
S3method(dim,spin)
S3method(names,spin)
S3method("names<-",spin)
S3method("sum",spin)
importFrom(emulator,quad.3form)



S3method(Ops,albert)
S3method("[",albert)
S3method("[<-",albert)
S3method(print,albert)
S3method(names,albert)
S3method("names<-",albert)
