exportPattern("^[^\\.]")


importFrom(emulator,quad.3form)
importFrom("onion","diag","getM")

importFrom("methods", "as", "is", "new")
importFrom("stats", "rnorm")
importFrom("utils", "capture.output")
